<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DTO.Properties.Settings.QLSINHVIENConnectionString"
            connectionString="Data Source=A102PC26\MISASME2023;Initial Catalog=QLSINHVIEN;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>